.b-fu-box
    h2.b-fu-box__h
        | header
    .bb-fu-box.less
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
