
.b-fu-box
    h2.b-fu-bx__h
        =text
    .bb-fu-box.less
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
        | <p> content </p>
